/.metadata/

# Ignore JetBrains IDE settings
.idea/

# Ignore VSCode settings
.vscode/

# /.idea/
# .vscode\launch.json

trackify-backend/src/main/resources/application.properties

#hide the log file
trackify-backend/logs/trackify.log

#hide the uploads folder
trackify-backend/uploads

#hide the logs folder
trackify-backend/logs

#hide the node_modules folder
trackify-frontend/node_modules